<%- include('header') %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CODE H-ACK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/homepage">practice <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/compete">compete</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>

<p name="username" id="username"><%= usern %></p>
<p name="username" id="username"><%= rating %></p>
<p name="username" id="username"><%= rank %></p>

<form action="/homepage" method="POST">
    <label for="tags">Choose question type:</label>
    <select name="tags" id="tags">
        <option value="dp">dp</option>
        <option value="greedy">greedy</option>
        <option value="binary%20search">binary search</option>
        <option value="strings">strings</option>
        <option value="adhoc">adhoc</option>
        <option value="implementation">implementation</option>
    </select>
    <select name="rating" id="rating">
        <option value="1000">1000</option>
        <option value="1200">1200</option>
        <option value="1400">1400</option>
        <option value="1600">1600</option>
        <option value="1800">1800</option>
        <option value="2500">legend</option>
    </select>
    <br>
    <input type="submit" value="search">
</form>
<br><br>
<%data.forEach(function(ques){ %>
<a href="https://codeforces.com/problemset/problem/<%=ques['contestId'] %>/<%=ques['index']%>"
    target="_blank"><%= ques["name"]%></a>
<br>
<%})%>


<%- include('footer') %>